@use './variables' as *;
@use './mediaQueries' as *;

// footer section
.footer {
    @include section-padding-mobile;
    background-color: $blackBg;
    color: $whiteTextClr;

    @include tablet {
        @include section-padding-tablet;
    }
    @include desktop {
        padding-left: 0;
        @include section-padding-desktop;
    }

    &__container {
        
        &--rights-reserved {
            -webkit-order: 4;
            order: 4;

            @include tablet {
                padding-top: 0;
                    
            }
        }
    }
}

.footerContainer {
    @include flex-column;
        
        
    @include tablet {
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        }

    &__header{

        @include tablet {
            @include footer-container-spacing-tablet;
            flex: 1;
        }
        &--h1 {
            @include section-header;
            
            @include tablet {
                @include section-header-tablet;
                padding-top: 0;
                width: 100%;
            }

            @include desktop {
                @include section-header-desktop;
            }
        }
    }

    &__social-icons {
        padding: 4% 0;
        
        @include tablet {
            display: flex;
            padding: 0;
            width: 33%;
            flex: 2;
            @include footer-container-spacing-tablet;
        }

        &--img {
            padding: 0 1.5rem 0 0;
            width: 2rem;
            height: 2rem;

            @include tablet {
                justify-content: center;
                
            }
        }
    }
    &__logo-container {
        -webkit-order: 3;
        order: 3;

        @include bandsite-logo-mobile;
        
        @include tablet {
            -webkit-order: 2;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 32%;
            flex: 2;
            
            @include footer-container-spacing-tablet;
        }
        @include desktop {
            padding: 0;
        }
        
        &--img {
            
            @include tablet {
                @include section-header-tablet;
            }
        }
    }
    
    &--rights-reserved {
        -webkit-order: 4;
        order: 4;

        @include tablet {
            padding-top: 0;
                
        }
    }
}

.contact-div {
    padding-bottom: 10%;
    -webkit-order: 2;
    order: 2;


    @include tablet {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: 2rem 0;
        
        }

    &__contact-info {
        line-height: 150%; 
        flex: 1;
        min-width: 200px;

        @include tablet {
            @include footer-container-spacing-tablet;
        }

        &--footer-copy{
            font-weight: 700;
        }
    }
}