@use './variables' as *;
@use './mediaQueries' as *;

// header section
.header {
    background-color: $blackBg;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
        @include tablet {
            flex-direction: row;
            align-items: center;
            height: 10vh;
            width: auto;
        }
        @include desktop{
            padding-left: $side-padding-desktop;
            height: 10vh;
        }

    &__logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    @include bandsite-logo-mobile;
        
        @include tablet{
            justify-content: flex-start;
            width: auto;
            @include bandsite-logo-tablet;
            @include section-padding-tablet;
        }
        @include desktop {
           margin: 0;
           padding: 0; 
        }
    
        &--img {

            @include tablet{
                min-height: 20%;
            }
            @include desktop{
                padding: 0;
                min-height: 1rem;

            }
        }
    }
    
    &__nav-list {
        list-style: none;
        @include flex-row;
        height: 2rem;
        
        @include tablet{
            padding: 0;
            height: 100%;
            align-items: center;
            
        }
        @include desktop {
            margin-left: 32px;
        }
        
        &--nav-bio{
            flex: 1;
            text-align: center;
            

            @include tablet{
                margin-left: 32px;
                padding: 0;
            }
            @include desktop {
                margin: 0;
            }
        }
        &--nav-shows{
            flex: 1;
            text-align: center;
            
            @include tablet{
                margin-left: 32px;
                padding: 0;
                
            }
            
        }
        &--nav-bio:hover{
            border-bottom: 5px solid $offWhiteClr;
            padding: 0 0 24px;
            
            
            @include tablet{
                font-weight: 600;
                padding: 1.1rem 0;
                box-sizing: border-box;
            }

            @include desktop{
                padding: 1.6rem 0;
                box-sizing: border-box;
            }
        }
        &--nav-shows:hover{
            border-bottom: 5px solid $offWhiteClr;
            padding: 0 0 24px;
            

            @include tablet{
                font-weight: 600;
                padding: 1.1rem 0;
                box-sizing: border-box;
            }
            @include desktop{
                padding: 1.6rem 0;
                box-sizing: border-box;
            }
        }

        &--link {
            text-decoration: none;
            color: $whiteTextClr;
        }

    }
}