@use './variables' as *;
@use './mediaQueries' as *;


//hero section
.hero {
    background-image: url("../assets/images/hero-bio.jpg");
    height: 40vh;
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: $whiteTextClr;
    position: relative;

    @include tablet {
        height: 80vh;
    }
    @include desktop {
        height: 80vh;
    }
    
    &__overlay {
        background-color: rgb(50, 50, 50, 0.5);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    &__band-name {

        @include section-header;
        @include section-padding-mobile;
        position: absolute;
        top: 37.5%;
        

        @include tablet {
            font-size: 500%;
            padding-left: 4.5%;
        }
        @include desktop {
            padding-left: 0;
            @include section-padding-desktop;
            font-size: 7vh;
        }
    }
}

.show-hero {
    @extend .hero;
        background-image: url("../assets/images/hero-shows.jpg");
        background-position: top;
        height: 60vh;
        min-height: 60vh;

        @include tablet {
            height: 80vh;
        }
        @include desktop {
            height: 80vh;
        }
        
        &__overlay {
            @extend .hero__overlay;
        }
}

.overlay {
    @include flex-column;
    justify-content: center;

        @include desktop {
            @include flex-row;
            @include section-padding-desktop;
            align-items: center;
        }

    &__overlayTextDiv{
        flex: 1;
        
        &--track-name {
            @include section-padding-mobile;
            font-size: 200%;
            padding-bottom: 0;
            
            @include desktop {
                padding-left: 0;    
                font-size: 200%;
            }
        }

        &--band-name {
            @include section-padding-mobile;
            @include section-header;
            font-size: 300%;

            @include tablet {
                font-size: 500%;
                padding-left: 4.5%;
            }

            @include desktop {
                padding-left: 0;
                
                font-size: 400%;
            }
        }
    }

    &__overlayFrameDiv {
        display: flex;
        justify-content: center;
        align-content: center;
        flex: 1;

        &--iframe {
            width: 90%;

            @include tablet {

            }
        }
    }
}