@use './variables' as *;
@use './mediaQueries' as *;



// main section
.main {
    @include section-padding-mobile;
    color: $blackBg;
    

    @include tablet {
        @include section-padding-tablet;
    }
    @include desktop {
        @include section-padding-desktop;
    }

    &__header {
        @include section-header;
        
        @include tablet {
            @include section-header-tablet;
        }

        @include desktop {
            @include section-header-desktop;
        
        }
    }

    &__img {
        padding: 16px 0;
        width: 100%;
        
        @include tablet {
            padding: 5% 9%;
            max-width: 80%;
            height: 40vw;
        }
        @include desktop {
            padding: 2% 9%;
        }
    }

    &__bold-quote {
        @include flex-column;
        font-size: 90%;
        line-height: 150%;
        font-weight: 700;
        height: 14vh;
        justify-content: space-between;
        
        @include mid-mobile {
            height: 100%;
        }
        @include tablet {
            @include main-padding-tablet;
            height: 8rem;
            font-size: 125%;
        }
        @include mid-tablet {
            height: 6rem;
        }
        @include desktop {
            height: 6rem;
        }
        

        &--top {
            @include tablet {
                font-family: 'AvenirNext';
                font-weight: 600;
                font-size: 110%;
                
            }
            @include desktop {
                font-size: 90%;
                max-width: 80%;
            }
        }

        &--bottom {
            @include tablet {
            font-size: 90%;
            }
            @include desktop {
                font-size: 80%;
            }
        }
    }

    &__subheader-div {
        color: $darkBlackClr;
        font-size: 80%;
        padding-top: 7%;
        
        @include mid-mobile {
            padding-top: 10%;
        }
        @include tablet {
            @include main-padding-tablet;
            padding-top: 7%;
            font-size: 150%;
            font-weight: 700;
        }
        @include mid-tablet {
            padding-top: 4%;
        }
        @include desktop {
            padding-top: 4%;
            font-size: 125%;
        }
    }

    &__para-div {
        

        @include tablet {
            @include main-padding-tablet;
            @include flex-row;
            justify-content: space-between;
            
        }

        &--regular-paragraph {
            font-size: 80%;
            padding-top: 4%;

            @include tablet {
                min-width: 45%; 
                max-width: 45%;  
            }
            @include desktop {
                font-size: 85%;
                padding-top: 2%;
            }
        }
    }
}