//BandSite-Black: Primary text color for dark on light background. Dark background color
$blackBg: #323232;

//Silver: Secondary text color. Inactive Call To Action text color.
$silverClr: #AFAFAF;

//White: Primary text color for light on dark background. Light background color. Active CTA text color.
$whiteTextClr: #FFFFFF;

//BandSite-DarkBlack: CTA hover state.
$darkBlackClr: #000000;

//Mercury: Divider line. Form field outline.
$mercuryClr: #E1E1E1;

//Alabaster: Alternative light background color
$offWhiteClr: #FAFAFA;

// section header mixin
@mixin section-header {
    font-family: 'AvenirNext LT Pro-Demi';
    font-size: 4.5vh;
    padding-top: 4%;
}

@mixin section-header-tablet {
    font-family: 'AvenirNext LT Pro-Demi';
    font-size: 5.5vh;
    // padding-top: 2rem;
}

// @mixin section-header-desktop {
//     font-family: 'AvenirNext LT Pro-Regular';
//     font-size: 2rem;
    
// }

///--------- Bandsite Logo
@mixin bandsite-logo-mobile {
    padding: 5% 0;
    min-width: 32.5%;
    min-height: 32.5%;
}

@mixin bandsite-logo-tablet {
    min-width: 75%;
    min-height: 75%;
}

//-------   Paddings
@mixin section-padding-mobile {
    padding: 4.5%;
}

@mixin section-padding-tablet {
    padding: 4.5%;
}

@mixin section-padding-desktop {
    //padding: ;
}

@mixin main-padding-tablet {
    padding: 0 9%;
}


