//BandSite-Black: Primary text color for dark on light background. Dark background color
$blackBg: #323232;

//Silver: Secondary text color. Inactive Call To Action text color.
$silverClr: #AFAFAF;

//White: Primary text color for light on dark background. Light background color. Active CTA text color.
$whiteTextClr: #FFFFFF;

//BandSite-DarkBlack: CTA hover state.
$darkBlackClr: #000000;

//Mercury: Divider line. Form field outline.
$mercuryClr: #E1E1E1;

//Alabaster: Alternative light background color
$offWhiteClr: #FAFAFA;

// section header mixin
@mixin section-header {
    font-family: 'AvenirNext';
    font-weight: 600;
    font-size: 175%;
    padding-top: 4%;
}

@mixin section-header-tablet {
    font-family: 'AvenirNext';
    font-weight: 600;
    font-size: 250%;
    padding-top: 2%;
}

@mixin section-header-desktop {
    font-family: 'AvenirNext';
    font-weight: 600;
    font-size: 200%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

///--------- Bandsite Logo
@mixin bandsite-logo-mobile {
    padding: 5% 0;
    min-width: 50%;
    min-height: 50%;
}

@mixin bandsite-logo-tablet {
    padding: 0;
    min-width: 10%;
    min-height: 20%;
}


//-------   Paddings
@mixin section-padding-mobile {
    padding: 4.5%;
}

@mixin section-padding-tablet {
    padding: 4.5%;
}

$side-padding-desktop: 10%;
$end-padding-desktop: 2%;

@mixin section-padding-desktop {
    padding: $end-padding-desktop $side-padding-desktop;
}

@mixin main-padding-tablet {
    padding: 0 9%;
}

//--------     Tablet Footer
@mixin footer-container-spacing-tablet {
max-width: 250px;
min-width: 220px;
}


//--------- Shows padding
@mixin showDiv-spacing-tablet {

}

//---------- buttons
@mixin button-mobile {
    font-family: 'AvenirNext';
    font-weight: 700;
    background-color:  $blackBg;
    text-transform: uppercase;
    color: $whiteTextClr;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 16px 0;
}