//BandSite-Black: Primary text color for dark on light background. Dark background color
$blackBg: #323232;

//Silver: Secondary text color. Inactive Call To Action text color.
$silverClr: #AFAFAF;

//White: Primary text color for light on dark background. Light background color. Active CTA text color.
$whiteTextClr: #FFFFFF;

//BandSite-DarkBlack: CTA hover state.
$darkBlackClr: #000000;

//Mercury: Divider line. Form field outline.
$mercuryClr: #E1E1E1;

//Alabaster: Alternative light background color
$offWhiteClr: #FAFAFA;

// section header mixin
@mixin section-header {
    font-family: 'AvenirNext LT Pro-Regular';
    font-size: 2rem;
    padding-top: 2rem;
}