@use './partials/fonts' as *;
@use './partials/variables' as *;


* {
    font-family: 'AvenirNext LT Pro', serif;
}

// header section
.header {
    background-color: $blackBg;
    color: $whiteTextClr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    &__site-logo {
    text-transform: uppercase;
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    }
    
    &__nav-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        
        
        &--nav-bio{
            flex: 1;
            text-align: center;
        }
        &--nav-shows{
            flex: 1;
            text-align: center;
        }
    
    }

    
}