@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;

// footer section
.footer {
    @include section-padding-mobile;
    background-color: $blackBg;
    color: $whiteTextClr;

    @include tablet {
        padding: 36px;
    }
    @include desktop {
        padding-left: 0;
        @include section-padding-desktop;
    }

    &__container {
        display: flex;
        flex-direction: column;
        
        
        @include tablet {
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
        }

            &--header{
                @include tablet {
                    @include footer-container-spacing-tablet;
                    flex: 1;
                }
                &--h1 {
                    @include section-header;
                
                    @include tablet {
                        @include section-header-tablet;
                        padding-top: 0;
                        width: 100%;
                    }
                    @include desktop {
                        @include section-header-desktop;
                    }
                    
                }
            }
            &--social-icons {
                padding: 4% 0;
                
                @include tablet {
                    display: flex;
                    padding: 0;
                    width: 33%;
                    flex: 1;
                    @include footer-container-spacing-tablet;
                }

                &--img {
                    padding: 0 1.5rem 0 0;
                    width: 2rem;
                    height: 2rem;

                    @include tablet {
                       justify-content: center;
                    }
                }
            }
        
        &--logo-container {
            -webkit-order: 3;
            @include bandsite-logo-mobile;
            
            @include tablet {
                -webkit-order: 2;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                width: 32%;
                flex: 1;
                @include footer-container-spacing-tablet;
            }
            @include desktop {
                padding: 0;

            }
            
            &--anchor {
            }
            
            &--img {
                
                
                @include tablet {
                    @include section-header-tablet;
                }
            }
        }
        
        &--contact-div {
            padding-bottom: 10%;
            -webkit-order: 2;
    
    
            @include tablet {
                display: flex;
                flex-flow: row wrap;
                width: 100%;
                padding: 2rem 0;
                
                }
    
            &--contact-info {
                line-height: 150%; 
                flex: 1;

                @include tablet {
                    @include footer-container-spacing-tablet;
                }
    
                &--footer-copy{
                    font-weight: 700;
                }
            }
        }
        &--rights-reserved {
            -webkit-order: 4;

            @include tablet {
                padding-top: 0;
                    
            }
        }
    }
}
