@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;

// footer section
.footer {
    font-family:'AvenirNext LT Pro-Regular', serif;
    padding: 16px 16px;
    background-color: $blackBg;
    color: $whiteTextClr;

    &__header {
        font-family: 'AvenirNext LT Pro-Bold';
    }

    &__social-icons{
        padding: 16px 0;
        
        &--img {
            padding: 0 4% 0 0;
        }
        &--img p {
            
        }
    }
}