@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;

// footer section
.footer {
    padding: 0 16px;
    background-color: $blackBg;
    color: $whiteTextClr;

    @include tablet {
        padding: 0 36px;
    }

    &__header {
        @include section-header;
        
        @include tablet {
            @include section-header-tablet;
        }
    }

    &__social-icons{
        padding: 16px 0;
        
        &--img {
            padding: 0 1.5rem 0 0;
            width: 2rem;
            height: 2rem;
        }
    }

    &__contact-div {

        &--contact-info {

        }
    }

    &__rights-reserved {
        padding-top: 3%;
    }
}

.footer-copy {
    font-weight: 700;
}