@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;

// header section
.header {
    background-color: $blackBg;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    //Do not change above **************
    
        @include tablet {
            flex-direction: row;
            align-items: center;
            height: 10vh;
            width: auto;
        }
        @include desktop{
            padding-left: $side-padding-desktop;
            height: 10vh;
        }

    &__logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    @include bandsite-logo-mobile;
    //Do not change above **************
        
        @include tablet{
            justify-content: flex-start;
            width: auto;
            @include bandsite-logo-tablet;
            @include section-padding-tablet;
        }
        @include desktop {
           margin: 0;
           padding: 0; 
        }
    
        &--img {
            // max-width: 140px;
            // max-height: 40px;
            
            //Do not change above **************

            @include tablet{
                min-height: 20%;
            }
            @include desktop{
                padding: 0;
                min-height: 1rem;

            }
        }
    }
    
    &__nav-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        height: 2rem;
        //Do not change above **************
        
        @include tablet{
            padding: 0;
            align-items: center;
            height: 100%;
            // justify-content: center;
        }
        @include desktop {
            margin-left: 32px;
        }
        
        &--nav-bio{
            flex: 1;
            text-align: center;
            

            @include tablet{
                margin-left: 32px;
                padding: 0;
                box-sizing: border-box;
                align-self: center;
            }
            @include desktop {
                margin: 0;
            }
        }
        &--nav-shows{
            flex: 1;
            text-align: center;
            
            @include tablet{
                margin-left: 32px;
                padding: 0;
                box-sizing: border-box;
                align-self: center;
            }
            
        }
        &--nav-bio:hover{
            border-bottom: 5px solid $offWhiteClr;
            padding: 0 0 24px;
            box-sizing: border-box;
            
            
            @include tablet{
                font-weight: 600;
                padding-bottom: 24px;
                align-self: center;
            }
        }
        &--nav-shows:hover{
            border-bottom: 5px solid $offWhiteClr;
            padding: 0 0 24px;
            box-sizing: border-box;

            @include tablet{
                font-weight: 600;
                padding-bottom: 24px;
                align-self: center;
            }
        }

        &--link {
            text-decoration: none;
            color: $whiteTextClr;
        }
        // &--link:hover {
        //     border-bottom: 3px solid $offWhiteClr;
        //     padding: 0 34% 8%;
        // }
        // &--link:visited {
        //     border-bottom: 3px solid $offWhiteClr;
        //     padding: 0 35% 8%;
        //     color: $silverClr;
        // }

        // &--nav-bio:active{
        //     border-bottom: 3px solid $offWhiteClr;
        // }
        // &--nav-shows:active{
        //     border-bottom: 3px solid $offWhiteClr;
        // }
    }
}