@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;

// header section
.header {
    background-color: $blackBg;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    
        @include tablet {
            flex-direction: row;
            align-items: center;
            height: 10vh;
            width: auto;
        }

    &__logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
        
        @include tablet{
            justify-content: flex-start;
            margin: 1rem;
            width: auto;
            
            
        }
    
        &--img {
            max-width: 120px;
            max-height: 20px;
            padding: 5% 0 3%;
            
            @include tablet{
                padding: 0 0 0 16px;
            }
        }
    }
    
    &__nav-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        height: 2rem;
        
        @include tablet{
            padding: 0;
            align-items: center;
            // justify-content: center;
        }
        
        &--nav-bio{
            flex: 1;
            text-align: center;
            
            @include tablet{
                padding-left: 32px;
            }
        }
        &--nav-shows{
            flex: 1;
            text-align: center;
            
            @include tablet{
                padding-left: 32px;

            }
        }
        &--nav-bio:hover{
            border-bottom: 5px solid $offWhiteClr;
            padding: 0 0 12px;
            box-sizing: border-box;
            
            @include tablet{
                font-weight: 600;
                padding-bottom: 24px;
            }
        }
        &--nav-shows:hover{
            border-bottom: 5px solid $offWhiteClr;
            padding: 0 0 12px;
            box-sizing: border-box;

            @include tablet{
                font-weight: 600;
                padding-bottom: 24px;
                
            }
        }

        &--link {
            text-decoration: none;
            color: $whiteTextClr;
        }
        // &--link:hover {
        //     border-bottom: 3px solid $offWhiteClr;
        //     padding: 0 34% 8%;
        // }
        // &--link:inactive {
        //     border-bottom: 3px solid $offWhiteClr;
        //     padding: 0 35% 8%;
        //     color: $silverClr;
        // }

        &--nav-bio:active{
            border-bottom: 3px solid $offWhiteClr;
        }
        &--nav-shows:active{
            border-bottom: 3px solid $offWhiteClr;
        }
    }
}