@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;

//hero section
.hero {
    height: 40vh;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    color: $whiteTextClr;
    align-items: center;

    &__band-name {
        padding: 16px;
        
    }
}