@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;


//hero section
.hero {
    height: 30vh;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: $whiteTextClr;
    position: relative;

    @include tablet {
        height: 80vh;
    }
    @include desktop {
        height: 80vh;
    }
    
    &__overlay {
        background-color: rgb(50, 50, 50, 0.5);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    &__band-name {

        @include section-header;
        @include section-padding-mobile;
        position: absolute;
        top: 37.5%;
        

        @include tablet {
            font-size: 500%;
            padding-left: 4.5%;
        }
        @include desktop {
            padding-left: 0;
            @include section-padding-desktop;
            font-size: 7vh;
        }
    }
}

.show-hero {
    @extend .hero;
    background-image: url("../assets/images/Mohan-muruge.jpg");
    
    &__overlay {
        @extend .hero__overlay;
    }
    &__band-name {
        @extend .hero__band-name;

    }
    
}
