@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;

//hero section
.hero {
    height: 40vh;
    background-image: url("../assets/images/hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: $whiteTextClr;
    position: relative;

    @include tablet {
        height: 80vh;
    }
    
    &__overlay {
        background-color: rgb(50, 50, 50, 0.5);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    &__band-name {

        @include section-header;
        position: absolute;
        padding: 0 0 0 16px;
        top: 45%;
        

        @include tablet {
            @include section-header-tablet;
            padding: 0 0 0 32px;
            font-size: 60px;
        }
    }
}

