@font-face {
  font-family: "AvenirNext LT Pro-Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro-Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro-Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.main {
  padding: 4.5%;
  color: #323232;
}
@media only screen and (min-width: 768px) {
  .main {
    padding: 4.5%;
  }
}
@media only screen and (min-width: 1280px) {
  .main {
    padding: 2% 10%;
  }
}
.main__header {
  font-family: "AvenirNext LT Pro-Demi";
  font-size: 175%;
  padding-top: 4%;
}
@media only screen and (min-width: 768px) {
  .main__header {
    font-family: "AvenirNext LT Pro-Demi";
    font-size: 250%;
    padding-top: 2%;
  }
}
@media only screen and (min-width: 1280px) {
  .main__header {
    font-family: "AvenirNext LT Pro-Demi";
    font-size: 200%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
.main__img {
  padding: 16px 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main__img {
    padding: 5% 9%;
    max-width: 80%;
    height: 40vw;
  }
}
@media only screen and (min-width: 1280px) {
  .main__img {
    padding: 2% 9%;
  }
}
.main__bold-quote {
  font-size: 90%;
  line-height: 150%;
  font-weight: 700;
  display: flex;
  height: 14vh;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 412px) {
  .main__bold-quote {
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .main__bold-quote {
    padding: 0 9%;
    height: 8rem;
    font-size: 125%;
  }
}
@media only screen and (min-width: 871px) {
  .main__bold-quote {
    height: 6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .main__bold-quote {
    height: 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .main__bold-quote--top {
    font-family: "AvenirNext LT Pro-Demi";
    font-size: 110%;
  }
}
@media only screen and (min-width: 1280px) {
  .main__bold-quote--top {
    font-size: 90%;
    max-width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .main__bold-quote--bottom {
    font-size: 90%;
  }
}
@media only screen and (min-width: 1280px) {
  .main__bold-quote--bottom {
    font-size: 80%;
  }
}
.main__subheader-div {
  color: #000000;
  font-size: 80%;
  padding-top: 7%;
}
@media only screen and (min-width: 412px) {
  .main__subheader-div {
    padding-top: 10%;
  }
}
@media only screen and (min-width: 768px) {
  .main__subheader-div {
    padding: 0 9%;
    padding-top: 7%;
    font-size: 150%;
    font-weight: 700;
  }
}
@media only screen and (min-width: 871px) {
  .main__subheader-div {
    padding-top: 4%;
  }
}
@media only screen and (min-width: 1280px) {
  .main__subheader-div {
    padding-top: 4%;
    font-size: 125%;
  }
}
@media only screen and (min-width: 768px) {
  .main__para-div {
    padding: 0 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.main__para-div--regular-paragraph {
  font-size: 80%;
  padding-top: 4%;
}
@media only screen and (min-width: 768px) {
  .main__para-div--regular-paragraph {
    min-width: 45%;
    max-width: 45%;
  }
}
@media only screen and (min-width: 1280px) {
  .main__para-div--regular-paragraph {
    font-size: 85%;
    padding-top: 2%;
  }
}/*# sourceMappingURL=main.css.map */