@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;



// main section
.main {
    @include section-padding-mobile;
    color: $blackBg;
    

    @include tablet {
        @include section-padding-tablet;
        
    }

    &__header {
        @include section-header;
        
        @include tablet {
            @include section-header-tablet;
        }

        @include desktop {
            @include section-header;
        
        }
    }

    &__img {
        padding: 16px 0;
        width: 100%;
        
        @include tablet {
            padding: 5% 9%;
            max-width: 80%;
            height: 40vw;
        }
    }

    &__bold-quote {
        font-size: 1.5rem;
        font-weight: 700;
        
        @include tablet {
            @include main-padding-tablet;
        } 
    }
    &__subheader {
        color: $darkBlackClr;
        font-size: 1.4rem;
        
        @include tablet {
            @include main-padding-tablet;
        }
    }
    &__para-div {
        
        @include tablet {
            @include main-padding-tablet;
            display: flex;
            flex-direction: row;
            // max-width: 750px;
            justify-content: space-between;
            
        }

        &--regular-paragraph {
            font-size: 1.3rem;
            padding: 1rem 0;

            @include tablet {
            width: 90%; 
            //max-width: 350px;  
            }
        }
    }
}