@use './partials/fonts' as *;
@use './partials/variables' as *;
@use './partials/mediaQueries' as *;



// main section
.main {
    @include section-padding-mobile;
    color: $blackBg;
    

    @include tablet {
        @include section-padding-tablet;
    }
    @include desktop {
        @include section-padding-desktop;
    }

    &__header {
        @include section-header;
        
        @include tablet {
            @include section-header-tablet;
        }

        @include desktop {
            @include section-header-desktop;
        
        }
    }

    &__img {
        padding: 16px 0;
        width: 100%;
        
        @include tablet {
            padding: 5% 9%;
            max-width: 80%;
            height: 40vw;
        }
        @include desktop {
            padding: 2% 9%;
        }
    }

    &__bold-quote {
        font-size: 1.5rem;
        font-weight: 700;
        display: flex;
        height: 15rem;
        flex-direction: column;
        justify-content: space-between;
        
        @include mid-mobile {
            height: 9rem;
        }
        @include tablet {
            @include main-padding-tablet;
            height: 8.5rem;
        } 
        @include desktop {
            height: 6rem;
        }
        

        &--top {
            @include tablet {
                font-family: 'AvenirNext LT Pro-Demi';
                font-size: 110%;
                
            }
            @include desktop {
                font-size: 90%;
                max-width: 80%;
            }
        }

        &--bottom {
            @include tablet {
            font-size: 90%;
            }
            @include desktop {
                font-size: 80%;
            }
        }
    }

    &__subheader-div {
        color: $darkBlackClr;
        font-size: 110%;
        padding-top: 7%;
        
        @include mid-mobile {
            padding-top: 10%;
        }

        @include tablet {
            @include main-padding-tablet;
            padding-top: 7%;
            font-size: 150%;
            font-weight: 700;
        }
        @include desktop {
            padding-top: 4%;
            font-size: 125%;
        }
    }

    &__para-div {
        
        @include tablet {
            @include main-padding-tablet;
            display: flex;
            flex-direction: row;
            // max-width: 750px;
            justify-content: space-between;
            
        }

        &--regular-paragraph {
            font-size: 1.3rem;
            padding-top: 4%;

            @include tablet {
                min-width: 45%; 
                max-width: 45%;  
            }
            @include desktop {
                font-size: 85%;
                padding-top: 2%;
            }
        }
    }
}